/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    user-select: none;
}
/* Définition des couleurs */
:root {
    --primary-color: #17abb3; /* Couleur principale */
    --secondary-color: #ffffff; /* Couleur secondaire */
    --accent-color: #f4f4f4; /* Couleur d'accent */
    --text-color: #333333; /* Couleur du texte */
    --highlight-color: #17abb3; /* Couleur de survol */
    --background-color-light: #f5f5f5; /* Couleur de fond claire */
    --background-color-dark: #e3e3e3; /* Couleur de fond sombre */
    --font-size-small: 1em; /* Taille de police de base */
    --font-size-medium: 1.5em; /* Taille de police moyenne */
    --font-size-large: 3em; /* Taille de police large */
}
body {
    font-family: 'raleway', sans-serif;
}


h1, h2, h3 {
    font-family: 'lato', sans-serif;
}

h2 {
    color: var(--primary-color);
    padding-bottom: 30px;
    font-size: var(--font-size-medium);
}

.dev {
    color: var(--secondary-color); /* h2 du header en blanc */
    padding: 5px 0;
}


header, footer {
    width: 1160px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0 auto;
}
